<div class="row">
  <div class="col half">
    <p>
      Critr is a conceptual social media platform created and designed by myself. It is primarily focused on creating a community of designers that are sharing their work-in-progress photos or screenshot for critiques by  others. This can help relieve creative blocks or the hassle of having to send over broken screenshots and pictures of your work to others and a lengthy explanation of your intentions, only to get it wrong.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/critr/d-logo.png" alt="Critr Logo" />
  </div>
</div>

<div class="row">
  <div class="col half">
    <p>
      This app is designed to foster a community of designers who can give and recieve feedback from comments that are "pinned" onto specific areas of an image.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/critr/d-comment.png" alt="Commenting System" />
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>home navigation</h2>
    <p>
      The home screen is split into 3 seperate views that are curated to deliver relavent content, as well as allowing discoverability for new users.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <video width="100%" height="100%" loop="" autoplay="" playsinline="" class="fullView">
					<source src="/images/critr/d-home-scroll.mp4" type="video/mp4">
		</video>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/critr/d-home.png" alt="Home Screens" />
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>tab navigation</h2>
    <p>
      Navigating between tabs are straight forward and simple. A quick fade transition indicates that they are navigating on the same visual "plane".
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <video width="100%" height="100%" loop="" autoplay="" playsinline="" class="fullView">
					<source src="/images/critr/d-tab-nav.mp4" type="video/mp4">
		</video>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/critr/d-pages.png" alt="Collage of Tabs" />
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>project navigation</h2>
    <p>
      Projects transitions through a seperate "layer" to indicate the user is moving the project into view. This allows the user to visually comprehend where they are in the heigharchy without distracting their experience.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <video width="100%" height="100%" loop="" autoplay="" playsinline="" class="fullView">
					<source src="/images/critr/d-project-comment.mp4" type="video/mp4">
		</video>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/critr/d-project.png" alt="Project View" />
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>comment zoom</h2>
    <p>
      Seamlessly zoom into comments on the image to get better context. Double-tap or hit the back arrow to return to the full image.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <video width="100%" height="100%" loop="" autoplay="" playsinline="" class="fullView">
					<source src="/images/critr/d-zoom.mp4" type="video/mp4">
		</video>
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>prototype</h2>
    <p>
      The entire interaction was carefully crafted in Framer. Now that you've seen some of it's capabilities, feel free to play with it yourself, many small micro-interactions have been implemented to replicate a native application as much as possible.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <iframe src="https://framer.cloud/Iihkn/" width="1440px" height="810px" scrolling="no" style="border:none;"></iframe>
  </div>
</div>
