<div class="row">
  <div class="col half">
    <p>
      Elysium is a book responding to Paolo Soleri's concept of Arcologies. Hyper dense cities that allow people to go about their day without ever needing to drive at all.
    </p>
    <p>
      This book is a reflection of my own perspective, being a devil's advocate, that this kind of concept is impossible to realize. All writing is written by myself, backed by research supporting my arguments.
    </p>
    <p>
      Typography, composition and image layout were a focus on this project. The fading text in the background is a representation of the human nature's desire to expand and diversify itself. All the text within the book is hidden on the cover itself, alluding to it's contents.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/{{ work.slug }}/cover.jpg" alt="Cover Page" />
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/{{ work.slug }}/inside-ch1.jpg" alt="Inside Chapter 1" />
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>Division Pages</h2>
    <p>
      Division pages between chapters served as an introduction to a new topic, as well as presenting a scramble to research data and quotes, a website with related information is included on the bottom right of the page.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/{{ work.slug }}/inside-division.jpg" alt="Division Page" />
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/{{ work.slug }}/inside-image.jpg" alt="Image Spread" />
  </div>
</div>
