<div class="row">
  <div class="col half">
    <p>
      Focusing on the life and legacy of writer Ralph Waldo Emerson, this booklet was created to document his life using various typographic and image layouts.
    </p>
    <p>
      A particular challenge to this project was, Emerson lived in an age where photography was barely available, and thus, imagery of him is extremely scarce. Because of this, emphasis on typographic details were placed, and images were used to help break spreads of text.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/{{ work.slug }}/cover.jpg" alt="Cover Page" />
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/{{ work.slug }}/inside-ch1.jpg" alt="Inside Chapter 1" />
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/{{ work.slug }}/inside-text.jpg" alt="Text Close Up" />
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/{{ work.slug }}/inside-img.jpg" alt="Image Close Up" />
  </div>
</div>
