<div class="row">
  <div class="col half">
    <p>
      Critr is a conceptual social media platform created and designed by myself. It is primarily focused on creating a community of designers that are sharing their work-in-progress photos or screenshot for critiques by  others. This can help relieve creative blocks or the hassle of having to send over broken screenshots and pictures of your work to others and a lengthy explanation of your intentions, only to get it wrong.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/{{ work.slug }}/cover.jpg" alt="Cover Page" />
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/{{ work.slug }}/inside-ch1.jpg" alt="Inside Chapter 1" />
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/{{ work.slug }}/inside-text.jpg" alt="Text Close Up" />
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/{{ work.slug }}/inside-img.jpg" alt="Image Close Up" />
  </div>
</div>
