<div class="row">
  <div class="col half">
    <p>
      Major League Gaming was founded in 2002 as an eSports entertainment organization.
    </p>
    <p>
      However, as it strives to become a household name around the world, it begins to fall short against it’s competitors. A new and more robust foundation must be built to reach for even greater heights.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/major_league_gaming/preview.png" alt="Major Gaming league" />
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>research</h2>
    <p>
      In order to create a new brand that is unique to MLG, I conducted a complete audit of the brand as it currently stands today.
    </p>
    <p>
      Firstly, it is paramount that MLG’s mission statement is preserved in order to guide this rebrand. Thus it is extracted as-is from their existing website.
    </p>
    <p>
      Detailed audit of company information.
    </p>
  </div>
  <div class="col half">
    <blockquote>
      MLG’s mission is to promote eSports globally through premier competition and to deliver premium gaming content to viewers anytime, anywhere through our global streaming platform - MLG.tv
    </blockquote>
  </div>
</div>


<div class="row">
  <div class="show">
    <img src="/images/major_league_gaming/preview2.png" alt="Major Gaming league" />
  </div>
</div>
