@import "compass/reset";
@import "compass/css3/flexbox";
@import "utilities";

$light: #F9F9F9;
$dark: #313439;
$gray: #7D8086;
$gray2: #E8E9EA;
$accent: #E7E8E9;

body {
  background-color: $light;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($light, .8);
  transition: all 300ms ease-in-out;
  margin-top: 0;
  padding: 20px;
  z-index: 1000;
}

.works {
  width: calc(100% + 20px);
  margin: -10px;
  @include display-flex;
  @include justify-content(flex-start);
  @include flex-wrap(wrap);

  li {
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 300px;
    min-width: 100%;
    margin: 10px 0;
    background-color: $gray2;
    background-size: cover;
    position: relative;
    @include break('small') {
      min-height: 350px;
      min-width: 47%;
      margin: 10px 10px;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 20px;
      background-color: rgba($light, .5);


      h2 {
        font-size: 1.8em;
        font-weight: normal;
        color: $dark;
        margin-bottom: 5px;
        text-transform: lowercase;
      }

      h3 {
        font-size: 1.4em;
        font-weight: 100;
        color: $dark;
      }
    }
  }
}

footer {
  margin: 80px 0;
  font-size: 1.4em;
  color: $gray;
  text-align: center;
}

.row {
  overflow: hidden;
  margin: 80px 0;
  justify-content: space-between;
  //margin: -10px -10px 30px -10px;
  width: 100%;
  @include display-flex;

  .half {
    width: 100%;
    @include break('small') {
      width: 45%;
    }
  }
  .col {
    width: 100%;
  }
}

.row-carousel {
  @extend .row;
  overflow: visible;
}

p {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 20px;
  color: $dark;
}

.show {
  text-align: center;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.show-carousel {
  text-align: center;
  margin: 20px auto;
  width: 100%;
}

div[role=main] {
  h2 {
    color: $dark;
    font-weight: 600;
    font-size: 1.8em;
    margin-bottom: 40px;
    text-transform: lowercase;
  }

  blockquote {
    width: 80%;
    color: $gray;
    padding-left: 20px;
    border-left: 4px solid $gray;
    font-size: 1.6em;
    line-height: 1.5em;
    font-style: italic;
  }
}

.view-process-button {
  position: fixed;
  right: 0;
  bottom: 60px;
  padding: 20px 40px 20px 20px;
  text-decoration: none;
  color: $light;
  background-color: rgba($dark, 0.3);
  font-size: 1.6em;
  line-height: 1.3em;
  @include break('small') {
    top:  460px;
    bottom:  initial;
    padding: 40px 80px 40px 40px;
  }

  &:hover {
    background-color: rgba($dark, 0.6);
  }
}

.carousel-cell {
  width: 100%;
  margin-right: 10px;
  background: $gray;
  border-radius: 5px;
  counter-increment: gallery-cell;
}
