@import "compass/reset";
@import "compass/css3/flexbox";

$light: #F9F9F9;
$dark: #313439;
$gray: #7D8086;
$gray2: #E8E9EA;
$accent: #E7E8E9;

body {
  background-color: $light;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($light, .8);
  transition: all 300ms ease-in-out;
  margin-top: 0;
  padding: 20px;
  z-index: 1000;
}

header {
  position: static;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 80px;

  h1 {
    font-size: 3.6em;
    text-transform: lowercase;
    color: $dark;
    font-weight: 300;
    margin-bottom: 20px;
  }

  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      transition: all 300ms ease-in-out;
      @include display-flex;
      @include justify-content(center);

      li {
        a {
          padding: 10px;
          text-decoration: none;
          color: $gray;
          font-size: 1.6em;

          &:hover {
            color: $gray2;
          }

          &.active {
            color: $dark;
          }
        }
      }
    }
  }
}

.works {
  width: calc(100% + 20px);
  margin: -10px;
  @include display-flex;
  @include justify-content(flex-start);
  @include flex-wrap(wrap);

  li {
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 47%;
    min-height: 350px;
    margin: 10px 10px;
    background-color: $gray2;
    background-size: cover;
    position: relative;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 20px;
      background-color: rgba($light, .8);


      h2 {
        font-size: 1.8em;
        font-weight: normal;
        color: $dark;
        margin-bottom: 5px;
        text-transform: lowercase;
      }

      h3 {
        font-size: 1.4em;
        font-weight: 100;
        color: $dark;
      }
    }
  }
}

footer {
  margin: 80px 0;
  font-size: 1.4em;
  color: $gray;
  text-align: center;
}

.row {
  overflow: hidden;
  margin: 80px 0;
  justify-content: space-between;
  //margin: -10px -10px 30px -10px;
  width: 100%;
  @include display-flex;

  .half {
    width: 45%;
  }
}

.row-carousel {
  @extend .row;
  overflow: visible;
}

p {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 20px;
  color: $dark;
}

.show {
  text-align: center;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.show-carousel {
  text-align: center;
  margin: 20px auto;
  width: 100%;
}

div[role=main] {
  h2 {
    color: $dark;
    font-weight: 600;
    font-size: 1.8em;
    margin-bottom: 40px;
    text-transform: lowercase;
  }

  blockquote {
    width: 80%;
    color: $gray;
    padding-left: 20px;
    border-left: 4px solid $gray;
    font-size: 1.6em;
    line-height: 1.5em;
    font-style: italic;
  }
}

.view-process-button {
  position: fixed;
  right: 0;
  top: 460px;
  padding: 40px 80px 40px 40px;
  text-decoration: none;
  color: $dark;
  background-color: rgba(231, 232, 233, 0.3);
  font-size: 1.6em;
  line-height: 1.3em;

  &:hover {
    background-color: rgba(231, 232, 233, 0.6);
  }
}

.carousel-cell {
  width: 100%;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}
