{% extends 'base.html.twig' %}

{% block content %}
<div class="row">
  <div class="half">
    <p>
      Hey there! I’m James, and I love to design just about anything. However you’ll probably find me as a product designer more often than not, but I don’t like to limit myself just yet.
    </p>
    <p>
      Currently I’m constantly put through my paces at ArtCenter College of Design, and while the stress can be great at times, I never feel the slightest bit of doubt at what I love to do.
    </p>
    <p>
      There’s always something new for me to explore, new people to meet, and new experiences to be had.
    </p>
  </div>
</div>
{% endblock %}
