<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}James Chu{% endblock %}</title>

    <link href="//fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">
    <link href="/css/screen.css" rel="stylesheet">

    {% block extra_stylesheets %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
  <header>
    <h1>{% block heading %}James Chu{% endblock %}</h1>
    <nav>
      {% block nav %}
      <ul>
        <li><a href="/">work</a></li>
        <li><a href="/about">info</a></li>
      </ul>
      {% endblock %}
    </nav>
  </header>
  <div role="main">
  {% block content %}
  {% endblock %}
  </div>
  <footer>
    &copy; james chu.
  </footer>
</div>

<script type="text/javascript">
  var h = document.querySelector("nav");
  var stuck = false;
  var stickPoint = getDistance();

  function getDistance() {
  var topDist = h.offsetTop;
  return topDist;
  }

  window.onscroll = function(e) {
  var distance = getDistance() - window.pageYOffset;
  var offset = window.pageYOffset;
  if ( (distance <= 0) && !stuck) {
      h.classList.add('scrolled');
      stuck = true;
    } else if (stuck && (offset <= stickPoint)){
      h.classList.remove('scrolled');
      stuck = false;
    }
  }
</script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
