{% extends 'base.html.twig' %}

{% block title %}James Chu - {{ work.name}}{% endblock %}
{% block heading %}{{ work.name }}{% endblock %}

{% block content %}
  {% include 'works/' ~ work.template %}
  <a href="/works/{{ work.slug }}/process" class="view-process-button">
    View <br />
    Process
  </a>
{% endblock %}
