{% extends 'base.html.twig' %}

{% block title %}James Chu - {{ work.name}}{% endblock %}
{% block heading %}{{ work.name }}{% endblock %}

{% block nav %}
<ul>
  <li><a href="/">prev</a></li>
  <li><a href="/">home</a></li>
  <li><a href="/">next</a></li>
</ul>
{% endblock %}

{% block content %}
  {% include 'works/' ~ work.template %}
  <a href="/works/{{ work.slug }}/process" class="view-process-button">
    View <br />
    Process
  </a>
{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %}
{% block extra_scripts %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endblock %}
