{% extends 'base.html.twig' %}

{% block content %}
<ul class="works">
  {% for work in works %}
  <li style="background-image: url('/thumbnails/{{ work.slug}}.png');">
    <a href="/works/{{ work.slug }}">
      <h2>{{ work.name }}</h2>
      <h3>{{ work.position }}</h3>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
