{% extends 'base.html.twig' %}

{% block content %}
<ul class="work">
  {% for work in works %}
  <li>
    <h2>{{ work.name }}</h2>
    <h3>{{ work.position }}</h3>
  </li>
  {% endfor %}
</ul>
{% endblock %}
