header { position: static; margin-top: 60px; text-align: center; margin-bottom: 80px; }
header h1 { font-size: 3.6em; text-transform: lowercase; color: #313439; font-weight: 300; margin-bottom: 20px; }
header nav ul { list-style-type: none; margin: 0; padding: 0; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; display: -webkit-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
header nav ul li a { padding: 10px; text-decoration: none; color: #7D8086; font-size: 1.6em; }
header nav ul li a:hover { color: #E8E9EA; }
header nav ul li a.active { color: #313439; }
