html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  background-color: #F9F9F9;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

header {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 80px; }
  header h1 {
    font-size: 3.6em;
    text-transform: lowercase;
    color: #313439;
    font-weight: 300;
    margin-bottom: 20px; }
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center; }
    header nav ul li a {
      padding: 10px;
      text-decoration: none;
      color: #7D8086;
      font-size: 1.6em; }
      header nav ul li a:hover {
        color: #E8E9EA; }
      header nav ul li a.active {
        color: #313439; }

.works {
  width: calc(100% + 20px);
  margin: -10px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .works li {
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 47%;
    min-height: 350px;
    margin: 10px 10px;
    background-color: #E8E9EA;
    position: relative; }
    .works li a {
      display: block;
      width: 100%;
      height: 100%; }
    .works li .info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 20px; }
      .works li .info h2 {
        font-size: 1.8em;
        font-weight: normal;
        color: #313439;
        margin-bottom: 5px; }
      .works li .info h3 {
        font-size: 1.4em;
        font-weight: 100;
        color: #313439; }

footer {
  margin: 80px 0;
  font-size: 1.4em;
  color: #7D8086;
  text-align: center; }

.row {
  overflow: hidden;
  margin: -10px -10px 30px -10px;
  width: calc(100% + 20px);
  display: -webkit-flex;
  display: flex; }
  .row .col {
    margin: 10px; }
  .row .half {
    width: 50%; }

p {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 20px;
  color: #313439; }

.show {
  text-align: center;
  margin: 0 auto;
  max-width: 80%; }
  .show img {
    width: 100%; }

div[role=main] h2 {
  color: #313439;
  font-weight: 600;
  font-size: 1.8em;
  margin-bottom: 40px; }
div[role=main] blockquote {
  color: #7D8086;
  padding-left: 20px;
  border-left: 4px solid #7D8086;
  font-size: 1.6em;
  line-height: 1.5em;
  font-style: italic; }

.view-process-button {
  position: fixed;
  right: 0;
  top: 460px;
  padding: 40px 80px 40px 40px;
  text-decoration: none;
  color: #313439;
  background-color: rgba(231, 232, 233, 0.3);
  font-size: 1.6em;
  line-height: 1.3em; }
  .view-process-button:hover {
    background-color: rgba(231, 232, 233, 0.6); }
