<div class="row">
  <div class="col half">
    <p>
      Critr is a conceptual social media platform created and designed by myself. It is primarily focused on creating a community of designers that are sharing their work-in-progress photos or screenshot for critiques by  others. This can help relieve creative blocks or the hassle of having to send over broken screenshots and pictures of your work to others and a lengthy explanation of your intentions, only to get it wrong.
    </p>
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>Competitor Landscape</h2>
    <p>
      Looking at my competitors in the field, it was fairly apparent that there wasn't an app for this particular purpose just yet, however I looked at every app that may have some overlap in features to ensure that I do not miss out on anything minor.
    </p>
    <p>
      In addition, I plotted a positioning matrix as well as a SWOT analysis to put my concept to the test and see how much it was able to differentiate itself from the other apps out there.
    </p>
  </div>
</div>

<div class="row-carousel">
  <div class="show-carousel">
    <div class="carousel" data-flickity='{ "imagesLoaded": true }'>
      <img src="/images/critr/process/c-chart.png" alt="Competitors" class="carousel-cell" />
      <img src="/images/critr/process/c-analysis.png" alt="Competitors Analysis" class="carousel-cell" />
      <img src="/images/critr/process/c-analysis2.png" alt="Competitors Analysis 2" class="carousel-cell" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>User Interviews</h2>
    <p>
      Interviews were conducted with fellow design students at ArtCenter to see what their main problems and concerns are. They seem to enjoy a balance of working on their own for some time before showcasing their progress for feedback.
    </p>
  </div>
</div>

<div class="row-carousel">
  <div class="show-carousel">
    <div class="carousel" data-flickity='{ "imagesLoaded": true }'>
      <img src="/images/critr/process/c-interviews.png" alt="Interview with Kasey Chen" class="carousel-cell" />
      <img src="/images/critr/process/c-interviews2.png" alt="Interview with Froilan Tam" class="carousel-cell" />
      <img src="/images/critr/process/c-interviews3.png" alt="Interview with Bryan Wong" class="carousel-cell" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>User Flow</h2>
    <p>
      With the information provided, a hierarchy flow chart was visualized using Post-It's. I preferred using this method instead of digital mediums as it allows me to quickly swap in and out features and functions as I deemed necessary.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/critr/process/d-navigation.png" alt="User Flow" />
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>Wireframing</h2>
    <p>
      With the flow and feature list starting to solidify, digital wireframes were quickly mocked up along with some basic ideas for potential use cases of Apple's new 3D Touch feature on the iPhone.
    </p>
  </div>
</div>

<div class="row-carousel">
  <div class="show-carousel">
    <div class="carousel" data-flickity='{ "imagesLoaded": true }'>
      <img src="/images/critr/process/d-wireframe.png" alt="Home Screen Wireframe" class="carousel-cell" />
      <img src="/images/critr/process/d-wireframe2.png" alt="Project Screen Wireframe" class="carousel-cell" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>Initial Design</h2>
    <p>
      A first pass of my first design was done. Apple's iOS style guide was followed carefully, and the overall design was made to be incredibly minimalistic in order to place more emphasis on the content itself. Sea foam green was initially chosen to push the subdued nature of the design. However later revisions changed it to a brighter red to help the interface visually pop more.
    </p>
  </div>
</div>

<div class="row-carousel">
  <div class="show-carousel">
    <div class="carousel" data-flickity='{ "imagesLoaded": true }'>
      <img src="/images/critr/process/d-early.png" alt="Early Screen Designs" class="carousel-cell" />
      <img src="/images/critr/process/d-style.png" alt="Early Style Guide" class="carousel-cell" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>Prototyping</h2>
    <p>
      Initial prototyping was created using Pixate (now defunct). Pixate was choosen at the time due to it's fairly intuitiveness as well as it's availability as being free to use.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/critr/process/p-pixate.png" alt="Pixate Prototype" />
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>3D Touch</h2>
    <p>
      3D Touch was a new feature announced by Apple in Fall of 2015, and was something I wanted to implement into my application. However, Pixate was unable to support such a feature, and thus it was replicated with a "long press" in it's stead. The results were pretty satisfactory.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <video width="100%" height="100%" loop="" autoplay="" playsinline="" class="fullView">
					<source src="/images/critr/process/p-3dtouch.mp4" type="video/mp4">
		</video>
  </div>
</div>

<div class="row">
  <div class="col half">
    <p>
      At this point, the design was basically done, despite it only covered a portion of the app, it was enough to cover it's primary use case of browsing the home screen, looking at a project, and commenting on it.
    </p>
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>Framer Prototyping</h2>
    <p>
      Fast forward some time, Pixate has been shut down and I set out to learn something new in it's stead. This time, Framer would become my new tool of choice. I spent a few days learning CoffeeScript, which wasn't difficult considering my existing knowledge of other programing languages. As well as some quick projects in Framer.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <video width="100%" height="100%" loop="" autoplay="" playsinline="" class="fullView">
					<source src="/images/critr/process/p-watch-notify.mp4" type="video/mp4">
		</video>
  </div>
</div>

<div class="row">
  <div class="col half">
    <p>
      An Apple Watch companion app was created to help enhance my proficiency. As an additional challenge, I set out to complete the entire prototype within 3 hours, including the design phase. Not shown above, but I added a few more screens after viewing a project, going back to a top level menu. This was all successfully completed within the allocated time with a few minutes to spare.
    </p>
  </div>
</div>

<div class="row">
  <div class="show">
    <img src="/images/critr/process/p-framer.png" alt="First Framer Port" />
  </div>
</div>

<div class="row">
  <div class="col half">
    <p>
      With the existing design ported to Framer, I had to unfortunately omit the 3D Touch gestures as I did not have a 3D Touch device to properly test the feature.
    </p>
    <p>
      The rest of the screens were also flushed out so the prototype was as "full" in it's ability to test interactions of the user as much as possible.
    </p>
  </div>
</div>

<div class="row">
  <div class="col half">
    <h2>User Testing</h2>
    <p>
      Within the amount of time I had to finalize the design and micro-interactions, I conducted 3 rounds of user testing with various people, gathering their feedback and suggestions as well as pain points to further polish and refine the design and interaction. Every user's feedback was documented on site and interactions were recorded for later review.
    </p>
    <p>
      With a huge list of suggestions, features were added, removed and refined. Interactions were tweaked, smoothed and made more intuitive. In the end, this was extremely valuable to me as it really informed a lot more about what Critr is outside of my initial conception.
    </p>
    <p>
      This ultimately help lead Critr to it's current, more refined state. And that concludes my journey for Critr, for now.
    </p>
    <p>
      Thank you for following along!
    </p>
  </div>
</div>
